.logged-out-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #dc3545;
    background-color: #f8f9fa;
}
